.navbar {
    background-image: linear-gradient(180deg, #660000 16.66%,
    #653800 16.66%, 33.32%,
    #665c00 33.32%, 49.98%,
    #064004 49.98%, 66.64%,
    #021b47 66.64%, 83.3%,
    #4e1358 83.3%); 
}

*::-webkit-scrollbar {
    width: 12px;               
}
  
*::-webkit-scrollbar-track {
    background: rgb(64, 64, 64);           
}
  
*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ff5e5e 16.66%,
    #ffb357 16.66%, 33.32%,
    #ffed50 33.32%, 49.98%,
    #4cb949 49.98%, 66.64%,
    #4873bf 66.64%, 83.3%,
    #cf61e2 83.3%);        
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #FE0000 16.66%,
    #FD8C00 16.66%, 33.32%,
    #FFE500 33.32%, 49.98%,
    #119F0B 49.98%, 66.64%,
    #0644B3 66.64%, 83.3%,
    #C22EDC 83.3%);    
}